.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*.pyo

.DS_Store
.venv/
venv/
env/

embeddings_with_metadata.json
Resume_Text_Preprocessing/
uploaded_resumes/
*.pdf
*.docx
*.wav
*.mp3
*.m4a
faiss_index.bin

.streamlit/secrets.toml
